@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
}


#main {
    position: relative;
}

section {
    margin-bottom: 200px;
}

.hidden {
    display: none;
}

.purple {
    color: #6415FF;
}

.white {
    color: white;
}

.just {
    text-align: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
    cursor: not-allowed;
}

h1 {
    font-size: 48px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 16px;
    line-height: 2;
}

input {
    border: none;
}

button {
    background-color: #6415FF;
    color: #f7fafc;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 9999px;
    padding: 16px 32px;
    margin: 0;
    transition: 0.4s;
    cursor: not-allowed;
}

button:hover {
    /* cursor: pointer; */
    background-color: #3c0d99;
}

header {
    margin-bottom: 200px;
}

.header__container {
    display: flex;
    /* justify-content: center; */
}

.section__title {
    text-align: center;
    font-weight: 600;
}

.sub__title {
    margin-bottom: 16px;
}

/* NAVBAR */

#navbar {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 32px 32px 80px 32px;
}

/* LANDING */

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 32px;
}

.nav {
    width: 100%;
    max-width: 1280px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__links {
    display: flex;
    align-items: center;

}

.nav__link {
    position: relative;
}

.nav__link--wrapper {
    padding-left: 56px;
}

.nav__link:after {
    content: "";
    position: absolute;
    bottom: -4px;
    right: 0;
    width: 0px;
    height: 2px;
    display: block;
    background-color: #6415FF;
    transition: 0.3s;
}

.nav__link:hover:after {
    width: 100%;
    left: 0;
}

.logo__wrapper {
    display: flex;
    align-items: center;
    margin: 24px 0;
}

.logo {
    width: 40px;
    height: 40px;
    margin-right: 16px;
}

/* HEADER */

.btn__sign-up {
    background-color: rgb(100 21 255);
    color: white;
    border: none;
    padding: 12px 36px;
    border-radius: 9999px;
    font-size: 14px;
}

.header__description {
    display: flex;
    max-width: 45%;
    flex-direction: column;
    justify-content: center;

}

.header__para {
    font-size: 18px;
    padding: 32px 0 32px 0;

}

.header__img--wrapper {
    display: flex;
    justify-content: flex-end;
}

.header__img {
    width: 90%;
}

.email__wrapper {
    display: flex;
    width: 100%;
    max-width: 90%;
    border: 2px solid rgb(226, 232, 240);
    border-radius: 9999px;
    justify-content: space-between;
    padding: 4px;
}

.email__input {
    margin-left: 24px;
    width: 60%;
    max-width: 100%;
}

.email__btn {
    width: 40%;
    max-width: 100%;
}

.cust {
    font-size: 12px;
    font-weight: 500;
    color: #a0aec0;
    padding: 80px 0 16px 0;
}

.cust__img {
    width: 95%;
    opacity: 60%;
}

/* FEATURES */

.features__container {
    padding: 80px 0;
}

.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features__sub {
    font-weight: 700;
}

.features__desc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.features__para {

    padding: 32px 0 32px 0;
}

/* SERVICES */

.services {
    display: flex;
    flex-wrap: wrap;
    padding: 64px 0px 64px 0px;
}

.service {
    display: flex;
    width: calc(100%/3);
    padding: 0 40px 40px 40px;
}

.service__title {
    padding-bottom: 24px;
}

.service__img {
    border: 2px solid rgb(226, 232, 240);
    border-radius: 9999px;
    padding: 16px;
}

.service__desc {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 24px;
}

.service__para {
    padding: 16px 0 0 0;
}

/* WORK */

.work__title {
    font-weight: 600;
}

.work__wrapper {
    display: flex;
}

.work__subtitle {
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 40px;
}

.work__description {
    width: 50%;
}

.work__desc-para {
    padding-bottom: 40px;
}

.img__wrapper {
    width: 50%;
}

.work__img {
    width: 100%;
    padding-left: 32px;
}

/* STEPS */

.steps__container {
    display: flex;
    margin-top: 100px;
}

.steps__img-wrapper {
    width: 50%;
}

.steps__img {
    width: 100%;
}

.steps__desc {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 32px;
}

.steps__wrapper {}

.step {
    display: flex;
    padding-bottom: 32px;
}

.step__number {
    display: flex;
    font-size: 36px;
    color: #cbd5e0;
}

.step__title {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 8px;
}

.step__subtitle {
    padding-bottom: 16px;
}

.step__desc {
    display: flex;
    flex-direction: column;
    padding-left: 32px;
}

/* VALUES */

.value__container {
    display: flex;
    align-items: center;
    margin: 100px 0 64px 0;
}

.values__desc {

    flex-direction: column;
    min-width: 50%;
    width: 50%;
}

.value__img-wrapper {
    width: 50%%;
}

.value__img {
    width: 100%;
}

.value__sub-img {
    display: flex;
    padding: 16px 0 16px 0;

}

.values__desc-sub {
    display: flex;
    padding: 0 0 32px 0;
}

.values__sub {
    display: flex;
    flex-wrap: wrap;
}

.value__sub-para {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: calc(100%/2);
}

.value__img-para {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 16px;
}

.prof {
    color: rgb(155 44 44);
    background-color: #feb2b2;
    border-radius: 50%;
    border: none 32px;
    padding: 16px;
}

.affo__wrapper {
    background-color: #9ae6b4;
    border-radius: 50%;
    height: 48px;
    width: 48px;
}

.affo {
    color: rgb(39 103 73);
    /* background-color: #9ae6b4; */
    /* border-radius: 50%; */
    border: none 32px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* PRICING */

#pricing {
    margin-top: 100px;
    margin-bottom: 32px;
}

.plans__wrapper-para {
    display: flex;
    flex-direction: column;
}

.plans {
    display: flex;
    padding-top: 64px;
    margin: 0 auto;
    max-width: 100%;
}

.plan {
    display: flex;
    flex-direction: column;
    max-width: calc(100%/3);
    width: 100%;
    align-items: center;
    box-shadow: 0 1px 1px 0 rgb(172, 171, 171);
    margin: 0 16px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.top__bar-left {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    height: 8px;
    width: 100%;
    border-top-right-radius: 999px;
    border-top-left-radius: 999px;
    border: 0px;
}

.top {
    padding: 32px 0 32px 0;
    text-align: center;
}

.horizontal__line {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    border-bottom: 1px solid lightgray;
}

.blue {
    border-bottom: 1px solid lightblue
}

.business {
    background-color: rgb(102, 126, 234);
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    background-origin: ;
    border-radius: 9px;

}

.none {
    height: 8px;
    width: 100%;
    border-top-right-radius: 999px;
    border-top-left-radius: 999px;
    border: 0px;
}

.top__bar-right {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    height: 8px;
    width: 100%;
    border-top-right-radius: 999px;
    border-top-left-radius: 999px;
    border: 0px;
}

.plan__price {
    font-size: 48px;
}

.plan__period {
    padding: 0 0 32px 0;
}

.for {
    font-size: 20px;
    padding: 32px 0 16px 0;
}

.template,
.landing,
.internal,
.assistance {
    padding: 16px 0 16px 0;
    text-align: center;
}

.bottom {
    padding: 32px 0 0 0;
}

.button__wrapper {
    padding: 32px;
}

.bottom__button {
    width: 240px;
    max-width: 100%;
    padding: 16px 32px 16px 32px;
}

.personal__button {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.personal__button:hover {
    transform: translateY(-0.25rem);
    box-shadow: 5px 5px 5px teal;
}

.business__button {
    background-color: white;
    color: #6415FF;
}

.business__button:hover {
    background-color: #E2E8F0;
    transform: translateY(-0.25rem);
    box-shadow: 5px 5px 5px #260863;
}

.enterprise__button {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.enterprise__button:hover {
    transform: translateY(-0.25rem);
    box-shadow: 5px 5px 5px rgb(126, 52, 52);
}

/* TESTIMONIALS */

.testimonial__container {
    display: flex;
    margin-top: 160px;
    max-width: 100%;
}

.testimonial__img-wrapper {
    max-width: 50%;
}

.testimonial__img {
    width: 100%;
    padding: 24px;
}

.testimonial__desc-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.stars__wrapper {
    display: flex;
    margin-top: 32px;
    margin-bottom: 8px;
}

.star {}

.stars {
    padding: 2px;
    color: rgb(246 173 85);
}

.arrow__wrapper {
    display: flex;
}

.user__ex-img-container {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.user__ex-img-wrapper {
    padding: 16px 24px 16px 0;
}

.user__details {
    display: flex;

}

.name__title {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.user__img {
    width: 80px;
    height: 80px;
    border-radius: 9999px;
}

.arrow__container {
    display: flex;
    align-items: center;
    padding-left: 16px;
}

.arrow {
    padding: 16px;
    margin-left: 16px;
    border: 1px transparent;
    color: #6415FF;
    background-color: rgb(237 242 247);
    border-radius: 9999px;
}

.divider {}

/* FAQ Section */

.faq {
    text-align: center;
    margin-top: 100px;
}

.faq__wrapper {
    font-weight: 700;

}

.faq__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: rgb(237 242 247);
    padding: 16px 40px;
    margin-top: 20px;
    transition: 300ms;
    max-width: 100%;
    width: 800px;
    border-radius: 15px;
    cursor: not-allowed;
}

.faq__row:hover {
    /* cursor: pointer; */
    background-color: rgb(226, 232, 240);
}

/* GETTING STARTED */

#getting__started {
    margin-top: 150px;
    margin-bottom: 150px;
}

.box__left {
    width: 50%;
}

.getting__started--box {
    max-width: 100%;
    background-color: #6415FF;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 100px;
    border-radius: 10px;
}

.gs__wrapper {
    cursor: pointer;
}

.getting__started--desc {
    width: 100%;
}

.getting__started--buttons {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.box__button {
    border-radius: 9999px;
    padding: 20px 40px;
    cursor: not-allowed;
}

.orange {
    background-color: rgb(245, 101, 101);
    border: 1px solid rgb(245, 101, 101);
    margin-right: 32px;
    transition: 0.4s;
}

.orange:hover {
    background-color: #E53e3e;
    border: 1px solid #E53e3e;
}

.transparent {
    background-color: #6415FF;
    border: 1px solid white;
    transition: 0.4s;
    color: white;
}

.transparent:hover {
    background-color: white;
    border: 1px solid white;
    color: #6415FF;
}

/* FOOTER */

#footer {
    background-color: #6415FF;
    padding-top: 100px;
    padding-bottom: 100px;
    /* inset: 0px; */
    /* position: absolute; */
    /* width: 1000px;
    height: 100px; */
}

.footer__container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 32px;
}

.footer__links--container {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 0 0 52px 0;
}

.footer__line {
    display: block;
    height: 1px;
    width: 100%;
    max-width: 100%;
    border: 0;
    border-top: 1px solid rgb(245, 101, 101);
    margin: 1em 0;
    padding-bottom: 50px;
    opacity: 40%;
    overflow-x: hidden;
}

.footer__links--heading {
    margin-bottom: 32px;
    font-size: 16px;
}

.footer__links {
    color: white;
    position: relative;
    cursor: not-allowed;
    padding-bottom: 0.25rem;
}

.footer__links--wrapper {
    padding-top: 12px;
    padding-bottom: 12px;
}

.footer__links:after {
    content: "";
    position: absolute;
    bottom: -1px;
    right: 0;
    width: 0px;
    height: 2px;
    display: block;
    background-color: white;
    transition: 0.3s;
}

.footer__links:hover:after {
    width: 100%;
    left: 0;
}

.footer__lower--part {
    color: white;
    display: flex;
    justify-content: space-between;
}

.footer__social--links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.social__links--wrapper {
    background-color: #ffffff;
    border: 1px solid white;
    border-radius: 9999px;
    height: 32px;
    width: 32px;
    margin-left: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__social--link {
    color: black;
}

.footer__social--link:hover {
    cursor: not-allowed;
}

.footer__logo--container {
    display: flex;
}

.footer__logo--wrapper {
    margin-right: 8px;
}

.footer__logo {
    width: 32px;
    height: 32px;
}

.logo__name {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.footer__copyright {
    display: flex;
    align-items: center;
}


/* TABLETS */

@media (max-width: 1023px) {

    .nav__links {
        display: none;
    }

    .hidden {
        display: block;
    }

    .fa-bars {
        font-size: 24px;
    }

    .header__container {
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
        max-width: 70%;
    }

    .header__description {
        max-width: 100%;
    }

    .email__btn {
        max-width: 30%;
    }

    .features__para {
        max-width: 70%;
        text-align: center;
    }

    .services {
        max-width: 70%;
    }

    .service {
        width: calc(100%/2);
        padding-left: 0;
    }

    .plans {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .plan {
        width: 100%;
        margin-bottom: 32px;
    }

    .testimonial__container {
        
    }

    .getting__started--box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .getting__started--desc {
        text-align: center;
        margin-bottom: 32px;
    }

}

/* MEDIUM PHONES */
@media (max-width: 767px) {}

/* SMALL PHONES */

@media (max-width: 383px) {}